/*scss/modules/_box.scss*/

.info-localities {
	@extend .adjust-v-padding;
	p {
		color: gray(5);
		@include responsive-text-size('deci');
	}
}

.overview {
	.info-localities, .cta-box {
		display: none;
		@media (min-width: breakpoint('medium')) {
			display: block;
		}
	}
}

.box {
	max-width: 300px;
	height: 150px;
	background: #eee;
	padding: 20px;
}

$flex: ((1/3)*100%) - (#{$gap}/2);

.steps-boxes {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	margin-top: $gap;
	counter-reset: my-awesome-counter;
	margin-right: -$gap/2;
	@extend .darken-color-1 !optional;
	> * {
		//flex: 1 33.333%;
		flex: 1;
		opacity: 1;
		padding: $gap/1.5 $gap $gap*2 $gap/2;
		margin-right: $gap/2;
		margin-bottom: $gap/2;
		min-width: 250px;
		&:hover, &:focus {
			opacity: .9;
		}
	}
	a {
		color: gray(light);
		text-decoration: none;
		position: relative;
		counter-increment: my-awesome-counter;
		@include responsive-text-size('deci');
		&:hover, &:focus {
			color: gray(light);
		}
		span {
			display: block;
			@include responsive-text-size('deca');
			margin-bottom: $gap;
			//padding-right: $gap/2;
			margin-left: $gap;
			&:before {
				content: counter(my-awesome-counter);
				//padding: $gap/2;
				color: gray(3);
				position: absolute;
				top:$gap/1.5;
				left:$gap/2;
				font-size: 30px;
				line-height: 38px;
			}
			&:after {
				content: "\f105";
				font-family: "FontAwesome";
				display: block;
				position: absolute;
				top:$gap/1.5;
				right: $gap/2;
				//padding: $gap;
				font-size: 30px;
				line-height: 38px;
			}
		}
	}
}

.boxes {
	display: block;
	//padding: $gap/2;
	@extend .darken-color-1 !optional;
	margin-top: $gap;
	margin-bottom: $gap;
	counter-reset: my-awesome-counter;
	@media (min-width: breakpoint('medium')) {
		display: flex;
		display: -webkit-flex;
		flex-flow: row wrap;
		//flex-direction: column;
		//flex-wrap: wrap;
		//align-content: space-between;
		//justify-content: space-between;
		//margin-right: -$gap*2;
	}
	>li {
		//margin-right: $gap/2;
		//position: relative;
		opacity: 1;
		transform: .25 all ease;
		counter-increment: my-awesome-counter;
		@media (min-width: breakpoint('medium')) {
			flex: 1 33.333%;
		}
		&:hover {
			opacity: .9;
		}
		>a {
			display: block;
			width: 100%;
			height: 100%;
			padding: $gap $gap $gap*2 $gap;
			@include responsive-text-size('deci');
			color: gray(light);
			text-decoration: none;
			position: relative;
			span {
				display: block;
				@include responsive-text-size('deca');
				margin-bottom: $gap;
				padding-right: $gap*2;
				position: relative;
				padding-left: 30px;
				&:before {
					content: counter(my-awesome-counter);
					//padding: $gap/2 $gap;
					color: gray(3);
					position: absolute;
					top:0;
					left: 0;
					font-size: 30px;
					line-height: 40px;
					//border-right: 1px solid white;
					//border-top: 1px solid white;
				}
				&:after {
					content: "\f105";
					font-family: "FontAwesome";
					display: block;
					position: absolute;
					top:0;
					right: 0;
					//padding: $gap;
					font-size: 30px;
					line-height: 40px;
				}
			}
		}
	}
}

.cta-box {
	border: $gap/2 solid gray(1);
	position: relative;
	@extend .bg-diagnol-up-light;
	@media(min-width: breakpoint('large')) {
		border: $gap/1.5 solid gray(1);
	}
	.summary {
		padding: $gap;
		@media(min-width: breakpoint('medium')) {
			padding:$gap/1.5;
		}
		p:nth-child(1) {
			text-transform: uppercase;
			color: color(2);
			letter-spacing: -.25px;
			margin-left: 45%;
			line-height: 1.2;
		}
		p:nth-child(2), .btn {
			margin-left: 45%;
		}
		.btn {
			padding: $gap/3;
			@include responsive-text-size('centi');
		}
	}
	figure {
		position: absolute;
		bottom: -$gap/2;
		left: -$gap/2;
		width: 45%;
		max-height: 90%;
		overflow: hidden;
		@media(min-width: breakpoint('large')) {
			bottom: -$gap/1.5;
			left: -$gap/1.5;
		}
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 80%;
		}
	}
	+ .cta-box {
		margin-top: $gap;
	}
}