.page-header {
	margin-top: 0;
}

.overview {
	.page-header {
		>h2 {
			@extend .text--deci;
			@extend .caps;
			margin: 0;
			margin-bottom: 0;
		}
		>h1 {
			color: color(3);
			margin: 0;
		}
	}
}

.header-default {
	@extend .adjust-v-padding;
	margin: auto;
	padding-left: $gap;
	padding-right: $gap;
	@media(min-width:breakpoint('medium')) {
		max-width: 80%;
		text-align: center;
	}
	.entry-title {

	}
	p {
		color: gray(6);
	}
}