/*
 * Off Canvas
 * --------------------------------------------------
 */

.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
		opacity: 0;
		transition: all .25s ease-out;
	}
	&.active {
		.sidebar-offcanvas {
			opacity: 1;
			transition: all .25s ease-out;
		}
	}
	&.row-offcanvas-right {
		right: 0;
		.sidebar-offcanvas {
			right: -50%; /* 6 columns */
		}
		&.active {
			right: 50%; /* 6 columns */
		}
	}

	&.row-offcanvas-left {
		left: 0;
		.sidebar-offcanvas {
			left: -50%; /* 6 columns */
		}
		&.active {
			left: 50%; /* 6 columns */
		}
	}
}

.logged-in {
	.offcanvas-sidebar {
		margin-top: 32px;
	}
}

.btn-flyout {
	@extend .btn;
	@extend .btn-1;
	@extend .btn-xs;
	border-radius: 0;
}

a[href*="#flyout-menu"] {
	@extend .btn-flyout;
	float: right;
}

.offcanvas-sidebar {
	display: block;
	//border: 1px solid gray(2);
	border: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%; /* 6 columns */
    transition: transform .49s cubic-bezier(.2,.46,.41,1),opacity .6s;
	padding-top: $gap/2;
	background: gray(1);
    z-index: 10000;
    opacity: 0;
    box-shadow: none;
    -webkit-transform: translate3d(110%,0,0);
    transform: translate3d(110%,0,0);
	@media(min-width:$screen-sm-min) {
		width: 33.333%;
		right: 0;
		padding: $gap/2 25px;
	}
	&.active {
		display: block;
		opacity: 1;
		box-shadow: -1px 0px 20px 1px rgba(gray(9), 0.6);
	    -webkit-transform: translate3d(0,0,0) scale(1.0, 1.0);
		transform: translate3d(0,0,0) scale(1.0, 1.0);
		-webkit-font-smoothing: subpixel-antialiased;
	}
	.address {
		color: gray(6);
	}
	.btn {
		width: $gap;
		height: $gap;
		position: absolute;
		left: -$gap;
		border-radius: 0;
		top: 10px;
		color: white;
		text-align: center;
		padding: 0;
		.icon {
			font-size: 29px;
			line-height: $gap;
		}
	}
	#menu-slide-out-menu.nav,
	.nav.list-group {
		margin-bottom: 0;
		>li {
			margin-bottom: 0;
			>a {
				color: color(4);
				//font-weight: 600;
				border-bottom: 1px solid white;
				font-size: 1.1em;
				line-height: 1;
			    padding: 8px 4px;
				transition: all .2s ease;
				margin-bottom: 2px;
				@media(min-width:$screen-sm-min) {
					font-size: 1.3em;
				    padding: 10px 4px;
				}
				&:hover, &:focus {
					color: lighten(color(4), 10%);
					background: palette(primary, light);
				}
			}
			&.active {
				>a {
					background: palette(primary, light);
					&:hover, &:focus {
						background: palette(primary, light);
					}
				}
			}
		}
		&:last-child {
			margin-bottom: 20px;
			@media(max-width:$screen-sm-max) {
				>li>a {
					//color: lighten(palette(secondary), 25%);
				}
			}
		}
	}
	#menu-social.nav>li {
		margin-left: 0px;
		>a {
			color: palette(secondary) !important;
			background: palette(primary, light);
			margin-bottom: 0;
		    padding: 0;
		    text-align: center;
			height: 2em;
			line-height: 2em;
			width: 2em;
    		&:before {
				color: palette(secondary) !important;
			}
			&:hover {
				background: darken(palette(primary, light), 5%);
			}
		}

	}
}