/*scss/organisims/_footerMain.scss*/


.address {
	color: gray(3);
	@include responsive-text-size('deci');
}

$base-height: 110px;
$base-width: 110px;
$page-curl:linear-gradient(
			-135deg,
			gray(light),
			#f3f3f3 45%,
			#ddd 50%,
			#aaa 50%,
			#bbb 56%,
			#ccc 62%,
			#f3f3f3 80%,
			gray(light) 100%
		);
$page-curl-2:linear-gradient(
			-135deg,
			color(1),
			lighten(color(1), 8%) 45%,
			darken(color(1), 10%) 50%,
			#aaa 50%,
			#bbb 56%,
			#ccc 62%,
			#f3f3f3 80%,
			gray(light) 100%
		);
$page-curl-3:linear-gradient(
			-135deg,
			color(3),
			color(2) 45%,
			color(3) 50%,
			#aaa 50%,
			#bbb 56%,
			#ccc 62%,
			#f3f3f3 80%,
			gray(light) 100%
		);


.curl {
	@extend .hidden-print;
	width: $base-height;
	height: $base-width;
	position: absolute;
	top:0;
	right:0;
	background: $page-curl-2;
	box-shadow: 0 0px 20px rgba(0, 0, 0, .3);
	transition: all .5s ease;
	outline:1px solid transparent;
	//-webkit-backface-visibility:hidden;
	-webkit-background-clip: content-box;
	.text {
		/* Safari */
		-webkit-transform: rotateZ(-135deg);

		/* Firefox */
		-moz-transform: rotateZ(-135deg);

		/* IE */
		-ms-transform: rotateZ(-135deg);

		/* Opera */
		-o-transform: rotateZ(-135deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	}
	> a {
		color: gray(light) !important;
		transition: all .5s ease;
		display: block;
		text-decoration: none !important;
		padding-top: 12px;
		width: $base-width / 2;
		height: $base-height;
		//margin: 12px 10px;
		margin: auto;
		text-transform: uppercase;
		font-weight: bold;
		@include responsive-text-size('centi');
		text-align: center;
		line-height: 1.15 !important;
		font-weight: bold;
		-webkit-font-smoothing: subpixel-antialiased;
		/* Safari */
		-webkit-transform: rotateZ(45deg);

		/* Firefox */
		-moz-transform: rotateZ(-45deg);

		/* IE */
		-ms-transform: rotateZ(-45deg);

		/* Opera */
		-o-transform: rotateZ(-45deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}

.curl:before,
.curl:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, .23);
	transform: skew(-10deg) rotateZ(-6deg);
}
.curl:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotateZ(-84deg);

}

.curl:hover {
	width: $base-width + 20px;
	height: $base-height + 20px;
	>a {
		-webkit-font-smoothing: subpixel-antialiased;
		//padding-top: 20px;
		height: $base-height + 20px;
		width: $base-width / 2;
	}
}

.curl:hover:before,
.curl:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, .23);
}