/*scss/organisims/_navbar.scss*/


.navbar.nav-primary{
	//background: map-get($colors, 7);
	//background: url('http://atomic.dev/brokerfraud/atomic-core/img/sprite_system-navigation-repeating.png') #002c68 repeat-x center -216px;
	//background-position: center -216px;
	min-height: 40px;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 0px solid gray(1);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    &.navbar-fixed-top {
	    @include admin-sticky-fix;
    }
    .navbar-collapse {
	    margin-top: 20px;
    }
	ul.nav.navbar-nav {
		padding-top: 2px; //adjust for font irregular lineheight
	}
	li {
		//margin-bottom: 0;
		a {
			color: gray(8);
			background: inherit;
			font-size: .85em;
			line-height: 1;
			&:hover,
			&:focus,
			&:active{
				color: color(4);
				background: inherit;
			}
		}
		&.dropdown {
			&.open,
			&:hover,
			&:focus,
			&:active{
				a {
					color: darken(white, 20%);
					background: inherit;
				}
			}
		}
	}
}

.dropdown-menu {
	background: map-get($colors, 2);
	.divider {
		background-color: lighten(map-get($colors, 2), 15%);
	}
}

.navbar-toggle {
	background: color(1);
	.icon-bar {
		background: color(2);
	}
	&:hover {
		background: color(3);
	}
}

.navbar-brand {
    float: left;
    //height: 100%;
    font-size: inherit;
    line-height: 1;
    height: 100% !important;
	//height: 50px;
	padding: 15px;
    width: 360px;
    background: radial-gradient(circle at left top, white, rgba(255, 255, 255, 0) 99%);
	//background: url('http://atomic.dev/brokerfraud/atomic-core/img/bg-logo.jpg') no-repeat -4px 0;
	@media (min-width: breakpoint('medium')) {
/*
	    height: 40px;
	    padding: 10px;
*/
		height: 50px;
		padding: 12px;
	}
    svg {
	    fill: color(3);
	    width: auto;
	    height: 100%;
	    margin-top: 0;
    }
    img {
	    height: auto;
	    width: 100%;
		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		transform: translate3d(0,0,0);
		image-rendering: optimizeSpeed;             /*                     */
		image-rendering: -moz-crisp-edges;          /* Firefox             */
		image-rendering: -o-crisp-edges;            /* Opera               */
		image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
		image-rendering: optimize-contrast;         /* CSS3 Proposed       */
		-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }
}

.cta-phone-number {
	margin-top: -5px;
	float: right;
	text-align: center;
	border-left: 2px solid gray(2);
	padding-left: 20px;
	@media (min-width: breakpoint('medium')) {
		margin-right: 10px;
	}
	a {
		color: color(1);
		&:hover, &:active, &:focus {
			text-decoration: none;
			color: lighten(color(1), 10%);
		}
	}
	span {
		display: block;
		letter-spacing: -.05em;
		text-transform: uppercase;
		&:first-child {
			@extend .text--centi;
			font-weight: bold;
			//color: color(3);
		}
		&:nth-child(2) {
			@extend .text--centi;
			//color: color(3);
			&:before, &:after {
				content: "\2014";
				padding-right: 2px;
				padding-left: 2px;
			}
		}
		&:last-child {
			@extend .text--deca;
		}
	}
}
