/*scss/organisims/_recent-cases.scss*/

.recent-cases{
	text-align: center;
	margin: 80px;
	p {
		color: gray(4);
	}
}

ul.cases {
	list-style: none;
	padding: 0;
	@media (min-width: breakpoint('medium')) {
		margin: $gap;
	}
	&.related {
		display: flex;
	    flex-direction: row;
	    flex-flow: row wrap;
	    >li {
			flex: 1;
			padding: 0 $gap/2;
			margin-bottom: $gap;
			text-align: center;
			h3 {
				&:after {
					display: block;
					height: 4px;
					width: 90%;
					background: gray(1);
					content: "";
					margin: $gap auto 0;
				}
			}
	    }
	}
	> li {
		margin-bottom: $gap/2;
		.copy {
			display: flex;
			flex-flow: column;
		    position: relative;
			align-items: center;
			align-content:center;
		}
		>article.copy {
			flex-flow: column;
			padding: $gap;
			background: palette(bg,light);
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
			@media (min-width: breakpoint('medium')) {
				flex-flow: row;
			}
			h3 {
				margin: 0;
				@extend .text--deca;
				color: gray(6);
			}
			> * {
				flex: 1;
			}
			> :first-child {
				flex-basis: 100%;
				border-bottom: 2px solid gray(1);
				padding-bottom: $gap/2;
				margin-bottom: $gap/2;
				@media (min-width: breakpoint('medium')) {
					flex-basis: 25%; 
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
					padding-right: $gap;
					border-right: 2px solid gray(1);
					margin-right: $gap;
				}
				@media (min-width: breakpoint('large')) {
					flex-basis: 40%; 
				}
			}
			>:nth-child(2) {
				//background-color: gray(1);
			}
		}
		
		h3 {
			@include responsive-text-size('deci');
		}
	}
	a {
		color: color(4);
		span {
			display: block;
			font-weight: bold;
			&:after {
				content: "\f18e";
				font-family: "FontAwesome";
				margin-left: $gap/10;
				text-decoration: none !important;
			}
		}
	}
} 


figure.recover-losses {
	position: relative;
	figcaption {
		//margin: 180px 100px;
		width: 50%;
		h2 {
			color: gray(9);
		}
		p {
			color: gray(8);
		}
	}
}